PUBLIC_MONAD_NETWORK=TESTNET
PUBLIC_CONTRACT_ADDRESS_TESTNET=
PUBLIC_CONTRACT_ADDRESS_MAINNET=
PUBLIC_RPC_URL_TESTNET=https://testnet-rpc.monad.xyz
PUBLIC_RPC_URL_MAINNET=https://rpc.monad.xyz
PUBLIC_CHAIN_ID_TESTNET=10143
PUBLIC_CHAIN_ID_MAINNET=143
WALLETCONNECT_PROJECT_ID=
