PUBLIC_MONAD_NETWORK=TESTNET
PUBLIC_CONTRACT_ADDRESS_TESTNET=0x2C4E4EB9432F9736627615f6d8096D826b17c532
PUBLIC_CONTRACT_ADDRESS_MAINNET=
PUBLIC_RPC_URL_TESTNET=https://testnet-rpc.monad.xyz
PUBLIC_RPC_URL_MAINNET=https://rpc.monad.xyz
PUBLIC_CHAIN_ID_TESTNET=10143
PUBLIC_CHAIN_ID_MAINNET=143
WALLETCONNECT_PROJECT_ID=
PUBLIC_MAP_PROVIDER=leaflet
PUBLIC_GOOGLE_MAPS_API_KEY=
PUBLIC_API_URL=http://localhost:3001